@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This tool was created to make organising and creating your AWS Instances easier.</p>
<p>By scheduling these instances you heavily reduce your overall expenditure on your AWS estate.</p>

<p>1. Ensure you have your credentials file from your AWS Administrator or Account holder and place this file in C:\AWS\credentials</p>
<p>2. This application requires the use of Powershell so ensure your Execution Policy is Unrestricted or give the ScheduleChecker script sign rights.</p>
<p>3. You will need https://aws.amazon.com/powershell/ installed for the script to have the correct cmdlets</p>
<p>4. To access the application you are required to register and create an account.</p>
<p>5. If you want to decrypt a password you are going to need the private key/.pem file associated with the keypair on the instance.<p>
<p>6. This application requires amateur level knowledge of AWS if you happen to make any errors or break the application you will be redirected to the homepage with your error given.</p>
<p>7. Schedules are stored in a binary format where 1 equates to on and 0 equates to off </p>

<p>To manage your instances login and head over to your homepage. Your key should be associated with your account if you followed the install correctly</p>