@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This tool was created to make organising and creating your AWS Instances easier.</p>
<p>By scheduling these instances you heavily reduce your overall expenditure on your AWS estate.</p>

<p>To manage your instances login and head over to your homepage. Your key should be associated with your account</p>